backend/env
backend/core/core/__pycache__
backend/core/netflix/__pycache__
backend/core/netflix/migrations/__pycache__
backend/core/.env
frontend/netflix/node_modules
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
frontend/netflix/.env.production
